__tests__/*
.github/*
.husky/*
.vscode/*
build/__tests__/*
example/*
node_modules/*
src/*
typings/*
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
jest.config.js
tsconfig.json
yarn-error.log
yarn.lock
